#s-5237f0ed-2a2a-4e16-882f-d49d50db055c > #backgroundBox {
  position: absolute;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c > #alignmentBox {
  position: relative;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Rectangle_4 {
  position: absolute;
  width: 351.5549964904785px;
  min-height: 515.9439655172414px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #004682;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Rectangle_4 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Rectangle_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_3 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_3 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_3 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_1 {
  position: absolute;
  width: 86.99999999999989px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_1 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_1 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_1 span#rtr-s-Button_1_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input {
  position: absolute;
  width: 214.0px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input .valign {
  vertical-align: middle;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Category > .dropdown-options {
  width: calc(100%);
  height: calc(100%);
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Category {
  position: absolute;
  width: 213.99999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_5 {
  position: absolute;
  width: 50.16926956176712px;
  min-height: 29.999999999999943px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_5 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_5 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_6 {
  position: absolute;
  width: 136.36720275878906px;
  min-height: 15.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_6 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_6 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_7 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_7 span {
  color: #FFFFFF;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 700;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input_1 {
  position: absolute;
  width: 214.0000000000001px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: text;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 10.0pt;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  min-height: 10.0pt;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Input_1 .icon {
  top: 5.5px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_2 {
  position: absolute;
  width: 86.99999999999989px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_2 > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999999%);
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_2 span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button_2 span#rtr-s-Button_2_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button {
  position: absolute;
  width: 68.0px;
  min-height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(0.0deg, #FF7E7E 0.001%, #E6E6E6 109.95838287752677%);
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-5237f0ed-2a2a-4e16-882f-d49d50db055c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
