<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!--  jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

    <!-- Bootstrap Date-Picker Plugin -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <title>Explore Tasks</title>
</head>
<body>
        <!-- nav bar -->
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #00263A;">

            <div class="d-flex justify-content-center flex-row">
                 <a href="/" class=""><img src="{% static "yoke-transparent.png" %}" alt="My image" style="width: 150px;height: 60px"></a>
                 <a href="/" class="navbar-brand" style="padding-left: 10px"><h1>Yoke</h1></a>
            </div>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/home/posted/" class="nav-item nav-link">My Posted Tasks</a>
                    <a href="/explore_tasks" class="nav-item nav-link">Explore tasks</a>
                    <a href="/home/accepted/" class="nav-item nav-link">My Accepted Tasks</a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto">
                    <a href="/account_info" class="nav-item nav-link">Account Info</a>
                    <a href="/accounts/login" class="nav-item nav-link">Login</a>
                </div>
            </div>
    </nav>

    <div class="d-flex flex-column align-items-center py-3">
        <h1 class="font-weight-bold" style="padding-top: 15px">Currently available tasks: </h1>
    </div>
    <div class="d-flex flex-column align-items-center py-3 my-3 overflow-auto" style="height: 70vh">
        <ul class="list-group list-group-flush">
        {% for task in unassigned_tasks %}
        <div class="card shadow mb-2 bg-white rounded" style="width: 600px">
          <div class="card-body d-flex flex-column justify-content-center">
              <h5 class="card-title mb-2 d-flex justify-content-center">Title: {{ task.task_title }}</h5>
              <h6 class="card-title mb-2 d-flex justify-content-start">Due: {{ task.task_due_date }}</h6>
              <h6 class="card-subtitle mb-2 text-muted">Pay: ${{ task.task_cost }}</h6>
              <h6 class="card-subtitle mb-2  py-3 d-flex justify-content-start">Description: </h6>
            <p class="card-text d-flex justify-content-center">{{ task.task_description }}</p>
            <a href="/queue_task/{{ task.task_id }}/"><button type="button" class="btn btn-primary" style="padding: 10">Add to my queue</button></a>
          </div>
        </div>
        {% endfor %}
        </ul>
    </div>
    <div class="d-flex flex-column align-items-center">
        <nav aria-label="Page navigation example" style="padding-right: 30px">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="/explore_tasks/1/">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
          </ul>
    </nav>
    </div>


</body>
</html>
